/* CSS Reset */
:root {
  --bg-primary: #ffffff;
  --bg-soft-1: #f5f5f5;
  --bg-soft-2: #eeeeee;
  --text-primary: #111111;
  --text-secondary: #555555;
  --text-meta: #777777;
  --stroke: #dadada;
  --accent: #000000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, figure, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background: var(--bg-primary);
  color: var(--text-primary);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}
